.problem3Header {
	padding: 25px;
	font-size: 40px;
	font-family: 'KaiTi';
    background-image: url(japonesque.jpg);
    background-position: top;
    background-repeat: repeat-x;
    text-align: center;
    background-attachment: fixed;
}