.problem3Header {
	padding: 25px;
	font-size: 40px;
	font: 40 100px/1.5 'Arizonia', Helvetica, sans-serif;
    background-image: url(japonesque.jpg);
    background-position: top;
    background-repeat: repeat-x;
    text-align: center;
    background-attachment: fixed;
}